version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: org.apache.maven.plugins:maven-compiler-plugin
    versions:
    - "> 3.8.1, < 3.9"
  - dependency-name: org.testng:testng
    versions:
    - ">= 7.a, < 8"
