*~
*.iws
*.ipr
*.iml
.project
.classpath
.factorypath
.settings/
.idea/
.DS_Store
classes/
build.properties
dist/
atlassian*
keystore/
tmp/
bla*.java
doc/manual/build/*
doc/manual/*.tmp
doc/tutorial/build/*
conf/MANIFEST.MF
target/
lib/


