<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <!--PatternLayout pattern="%-7d{HH:mm:ss,SSS} [%p] %c: %m%n"/-->
            <PatternLayout pattern="%r [%p] %c{1}: %m%n"/> 
        </Console>
        <!--File name="File" fileName="trace.log">
            <PatternLayout pattern="%r [%p] %c{1}: %m%n"/>
        </File-->
    </appenders>
    <loggers>
        <root level="warn">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="org.jgroups" level="warn"/>
        <!--logger name="org.jgroups.protocols.UNICAST3" level="trace"/-->

        <!--logger name="org.jgroups.protocols.pbcast.GMS" level="trace">
            <appender-ref ref="File"/>
        </logger-->
    </loggers>
</configuration>
